<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitcoin Core RPC</title>
    <meta name="description" content="Bitcoin Core RPC command documentation">
    {{.headTags}}
    <style>{{.css}}</style>
</head>
<body>
{{template `nav`}}
<header class="container">
    <h1>Bitcoin Core RPC</h1>
</header>
<main class="container">
  <ul>
    <li>Latest: <a href="/{{.Latest}}">{{.Latest}}</a></li>
    {{range $version := .Versions}}
    <li><a href="/{{$version}}/">{{$version}}</a></li>
    {{end}}
  </ul>
</main>
{{template `footer` .}}
</body>
</html>