<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitcoin Core {{.Version}} RPC: {{.Name}}</title>
    <meta name="description" content="Bitcoin Core {{.Version}} RPC command documentation: {{.Name}} commands">
    {{.headTags}}
    <link rel="stylesheet" href="../../pico.min.css">
</head>
<body>
{{template `nav`}}
<header class="container">
    <hgroup>
        <h1>Bitcoin Core {{.Name}} commands</h1>
        <h2>Bitcoin Core <a href="../">{{.Version}}</a> RPC</h2>
    </hgroup>
</header>
<main class="container">
    <ul>
        {{range $command := .Commands}}
        <li><a href="{{$command}}/">{{$command}}</a></li>
        {{end}}
    </ul>
</main>
{{template `footer` .}}
</body>
</html>