<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Core {{.Version}} RPC: {{.Name}}</title>
    {{.style}}
</head>
<body>
<header>
    <hgroup>
        <h1>Bitcoin Core {{.Name}} commands</h1>
        <h2>Bitcoin Core <a href="../">{{.Version}}</a> RPC</h2>
    </hgroup>
</header>
<main>
    <ul>
        {{range $command := .Commands}}
        <li><a href="{{$command}}/">{{$command}}</a></li>
        {{end}}
    </ul>
</main>
{{template `footer` .}}
</body>
</html>