<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bitcoin Core {{.Version.Name}} RPC</title>
    <meta name="description" content="Bitcoin Core RPC {{.Version.Name}} command documentation">
    {{.headTags}}
</head>
<body>
{{template `nav`}}
<header class="container">
<h1>Bitcoin Core {{.Version.Name}} RPC</h1>
</header>
<main class="container">
{{range $section := .SectionsAlpha}}
    <h2>{{$section}} commands</h2>
    <ul>
    {{range $command := index $.Version.Sections $section}}
        <li><a href="{{$section}}/{{$command}}/">{{$command}}</a></li>
    {{end}}
    </ul>
{{end}}
</main>
{{template `footer` .}}
</body>
</html>